.input,
.select {
  &__wrap {
    margin-top: 20px;
    width: 320px;
    height: 64px;
    display: flex;
    flex-wrap: wrap;
  }
}

.text-field {   
  font-family: Montserrat;    
  &__title {
    margin-bottom: 8px;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__descr {
    margin-bottom: 8px;
    width: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1em;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }
  
  &__input {
    padding-left: 15px;
    width: 100%;
    max-width: 320px;
    height: 44px;
    background: #FFFFFF;    
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    &_default {
      color: rgba(31, 32, 65, 0.25);
      border: 1px solid rgba(31, 32, 65, 0.25);
    }
    &_active {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
    }
  }
  &__select {
    padding-left: 15px;
    width: 100%;
    max-width: 320px;
    height: 44px;
    background: #FFFFFF;    
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    &_default {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.25);
    }
  }
}