
.interface {

  &__logo {
    margin: 30px;
  }

  &__wrap {
    max-height: 1550px;
    display: flex;
    margin-left: 140px;
    flex-direction: column;
    // max-height: 1000px;
    flex-wrap: wrap;
    align-content: space-between;
  }

}