.enter-form.cards.mt40.mr40
  .enter-form__title Войти

  input.text-field.mt20(type='email' placeholder='Email')

  input.text-field.mt10(type='password' placeholder='Пароль')

  button.button__proto.button__proto_full_big.mt20 войти
    i.button__arrow-ico

  .registration-account__enter 
    .registration-account__login-text Нет аккаунта на Toxin?
    button.button__proto.button__proto_empty 
      .button__text Войти