.room-number.cards.mr40
  .room-number__top 
    span.room-number__title № 888
    span.room-number__subtitle люкс
    input.room-number__price-title(disabled='disabled' placeholder='9 990₽ в сутки') 
  
  .input__wrap.input__wrap_05.cards__input_05.mt20
    span.input__title.input__title_100 прибытие
    input.dropdown-date(data-dropdown-date placeholder='ДД.ММ.ГГГГ')
    i.dropdown-date__ico

  .input__wrap.input__wrap_05.cards__input_05.mt20
    span.input__title.input__title_100 выезд
    input.dropdown-date(data-dropdown-date placeholder='ДД.ММ.ГГГГ')
    i.dropdown-date__ico

  .input__wrap.mt20
    span.input__title.input__title_50 гости
    //- span.input__descr default
    select.dropdown-select(date-dropwdown-select)
      option(value='0') Сколько гостей
      option(value='1') 1 гость
      option(value='2') 2 гостя
      option(value='3') 3 гостя
      option(value='4') 4 гостя
      option(value='5') 5 гостей
      option(value='6') 6 гостей
      option(value='7') 7 гостей
      option(value='8') 8 гостей

  .room-number__calculation-list.mt20
    .room-number__calculation-list-box
      span.room-number__calculation-item 9 990₽ х 4 суток
      span.room-number__calculation-item 39 960₽
    .room-number__calculation-list-box.mt10
      span.room-number__calculation-item Сбор за услуги: скидка 2 179₽
      i.room-number__calculation-info-ico
      span.room-number__calculation-item 0₽
    .room-number__calculation-list-box.mt10
      span.room-number__calculation-item Сбор за дополнительные услуги
      i.room-number__calculation-info-ico
      span.room-number__calculation-item 300₽
    
  .room-number__total
    .room-number__total-text Итого
    .room-number__total-ellipsis ..........................................................
    .room-number__total-number 38 081₽


  button.button__proto.button__proto_full_big.mt30 забронировать
    i.button__arrow-ico




  .room-number__texts