.inputs-wrapper {
  margin-top: 35px;
  margin-left: 140px;
}

.input,
.select {
  font-family: Montserrat;
  padding-left: 15px;
  width: 100%;
  max-width: 320px;
  height: 44px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  &__wrap {
    margin-top: 20px;
    display: inline-block;
    width: 320px;
    height: 64px;
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 8px;
    width: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    color: #1f2041;
  }
  &__descr {
    margin-bottom: 8px;
    width: 50%;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1em;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
  }
}

.text-field {
  
  
  
  &__input {
    &_default {
      color: rgba(31, 32, 65, 0.75);
      &::placeholder,  /* Chrome, Firefox, Opera, Safari 10.1+ */
      &:-ms-input-placeholder, /* Internet Explorer 10-11 */
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(31, 32, 65, 0.25);
        border: 1px solid rgba(31, 32, 65, 0.25);
    }
    &_active,
    &:hover,
    &:focus,
    &:active {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.5);
    }
  }
  &__select {
    &_default {
      color: rgba(31, 32, 65, 0.75);
      border: 1px solid rgba(31, 32, 65, 0.25);
    }
    span.current {
      line-height: 3em;
    }
  }
}
