
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-city:before { content: '\e801'; } /* '' */
.icon-emoticon:before { content: '\e802'; } /* '' */
.icon-favorite-o:before { content: '\e803'; } /* '' */
.icon-favorite-v:before { content: '\e804'; } /* '' */
.icon-logo:before { content: '\e805'; } /* '' */
.icon-star-o:before { content: '\e807'; } /* '' */
.icon-star-v:before { content: '\e808'; } /* '' */