.button {
  position: relative;
  font-family: $ff1;
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  &__wrap {
    margin-top: 16px;
    display: inline-flex;
    width: 320px;
    max-width: 320px;
    height: 220px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__text {
    position: relative;
    z-index: 3;
  }
  &__arrow-ico {
    height: inherit;
    width: 44px;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    &::before {
      content: '\e800';
      color: white;
    }
  }
  &__proto {
    font-family: $ff2;
    min-width: 99px;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &_full,
    &_full_big {
      background: $gradient-accent;
      color: white;
      position: relative;
    }
    &_full_big {
      max-width: 320px;
      width: 100%;
    }
    &_full-faded {
      background: $gradient-accent;
      color: white;
      opacity: 0.5;
    }
    &_empty {
      color: $color-accent;
      background: $gradient-accent;
      position: relative;
      &:after {
        content: '';
        background-color: $white;
        position: absolute;
        width: 95px;
        height: 40px;
        border-radius: inherit;
      }
      &.faded {
        opacity: 0.5;
      }
    }
    &_empty-faded {
      color: $color-accent;
    }
    &_noborder {
      color: $color-accent;
    }
    &_noborder-faded {
      color: $color-grey-05;
    }
  }
}