.dropdown-date {
  color: rgba($color-text, 0.75);
  position: relative;
  cursor: pointer;
  font-family: $font2;
  border: 1px solid rgba($color-text, 0.25);
  position: relative;
  transition: 200ms;
  padding-left: 15px;
  width: 100%;
  max-width: 320px;
  height: 44px;
  background: $white;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  &::placeholder {
    color: rgba($color-text, 0.75);
  }
  &:hover,
  &:focus,
  &:active {
    border: 1px solid rgba($color-text, 0.5);
    &::placeholder {
      color: rgba($color-text, 0.75);
    }
  }
  ///nice-select ico customize///
  .current {
    line-height: 3em;
  }
  .list {
    min-width: 320px;
    box-shadow: 0 0 0 1px rgba($color-text, 0.5);
  }
  ///nice-select ico customize///
  &__ico {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    bottom: 18px;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 5px;
  }
}