.palitra {
  font-family: $ff1;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  &-item {
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 70px;
    .color {
      &_dark-shade {
        &_100 {
          background: $black;
        }
        &_75 {
          background: rgba($black, 0.75);
        }
        &_50 {
          background: rgba($black, 0.5);
        }
        &_25 {
          background: rgba($black, 0.25);
        }
        &_5 {
          background: rgba($black, 0.05);
        }
      }
      &_purple {
        background-color: #BC9CFF;
      }
      &_green {
        background-color: #6FCF97;
      }
    }
    &__box {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 6px;
    }
    &__text,
    &__subtext {
      font-style: normal;
      font-size: 19px;
      line-height: 29px;
      width: 60%;
      height: 50%;
      display: inline-flex;
      align-items: center;
    }
    &__text {
      font-weight: 700;
    }
    &__subtext {
      font-weight: 400;
    }
  }
}