.marks {
  display: inline-block;
  width: 47%;
  float: right;
  height: auto;
}

.mark {

  &-h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $color-text;
  }

  &-h2 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $color-text;
  }

  &-h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-text;
  }

  &-body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba($color-text, 0.75);
  }

  &-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    &__name {
      display: inline-block;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      color: rgba($color-text, 0.25);

      &_h1 {
        font-size: 24px;
        line-height: 29px;
      }

      &_h2 {
        font-size: 19px;
        line-height: 23px;
      }

      &_h3 {
        font-size: 12px;
        line-height: 15px;
      }

      &_body {
        font-size: 14px;
        line-height: 24px;
      }
    }

    &__example {
      display: inline-block;
      width: 80%;

    }
  }
}