.toggle {
  font-family: $font2;
  max-width: 266px;
  &__title {
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-text;
    margin-bottom: 16px;
  }
  &__item {
    position: relative;
    height: 22px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    // margin-right: 20px;
    margin-bottom: 14px;
    &-checkmark {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      width: 40px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      transition-duration: justify-content .3s;
      &:after {
        content: '';
        margin-left: 3px;
        margin-right: 3px;
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: rgba(31, 32, 65, 0.25);
        transition-duration: .3s;
        
      }
    }
    &-radio {
      opacity: 0;
      width: 22px;
      height: 22px;
      position: absolute;
      cursor: pointer;
      &:checked {
        ~ i {
          border: 1px solid #bc9cff;
          justify-content: flex-end;
          transition-duration: justify-content .3s;
          &:after {
            background: linear-gradient(180deg, #bc9cff 0, #8ba4f9 100%);
          }
        }
      }
    }
    
    &-name {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75);
      margin-left: 10px;
    }
  }
}
