.bullet-list.mt180
  .bullet-list__title bullet list
  ul.bullet-list__box
    li.bullet-list__item 
      span.bullet-list__item-text Нельзя с питомцами
    li.bullet-list__item 
      span.bullet-list__item-text Без вечеринок и мероприятий
    li.bullet-list__item 
      span.bullet-list__item-text Время прибытия — после 13:00, а выезд до 12:00

