.button.mt55
  .button__title buttons
    .button__wrap

      button.button__proto.button__proto_full click me
      button.button__proto.button__proto_full-faded click me
      button.button__proto.button__proto_empty 
        .button__text click me
      button.button__proto.button__proto_empty.faded 
        .button__text click me
      button.button__proto.button__proto_noborder click me
      button.button__proto.button__proto_noborder-faded click me
      button.button__proto.button__proto_full_big перейти к оплате
        i.button__arrow-ico