.checkbox.checkbox_full#checkboxButtons1.mt50(data-expanded)
  .checkbox__face(data-toggle)
    span.checkbox__title.checkbox__title_075 rich Checkbox Buttons
  .checkbox__wrap
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title.checkbox__item-title_f_b Широкий коридор
        span.checkbox__item-text Ширина коридоров в номере не менее 91 см.
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title.checkbox__item-title_f_b Помощник для инвалидов
        span.checkbox__item-text На 1 этаже вас встретит специалист  и проводит до номера.