.checkbox#checkboxButtons1.mt20(data-expanded)
  .checkbox__face(data-toggle)
    span.checkbox__title.checkbox__title_075 Checkbox Buttons
  .checkbox__wrap
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Можно курить
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Можно с питомцами
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Можно пригласить гостей (до 10 человек)