.checkbox#checkboxList2.mt40(data-expanded)
  .checkbox__face(data-toggle)
    span.checkbox__title.checkbox__title_075 expandable checkbox list
    button.checkbox__dropdown-btn
      i.checkbox__dropdown-ico
  .checkbox__wrap.checkbox__wrap_absolute
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Завтрак
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Письменный стол
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Стул для кормления
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Кроватка
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Телевизор
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Шампунь
    .checkbox__item
      label.checkbox__item-label 
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Телевизор
    .checkbox__item
      label.checkbox__item-label
        input.checkbox__item-input(type='checkbox')
        span.checkbox__item-checkmark
        span.checkbox__item-title Шампунь