.checkbox-list#checkboxButtons1.mt20(data-expanded)
  .checkbox-list__face(data-toggle)
    span.checkbox-list__title.checkbox-list__title_075 Checkbox Buttons
  .checkbox-list__wrap
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Можно курить
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Можно с питомцами
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Можно пригласить гостей (до 10 человек)