.comment.comment_center-mt50
  img.comment__img(src='img/photo-user.jpg' alt='user photo')
  span.comment__name Мурад Сарафанов
  br
  span.comment__date 5 дней назад
  
  br

  label.like-button__item.comment__like-button
    input#likeButton3.like-button__item-radio(data='likeButton' type='checkbox' checked='checked' data-like-checked='true' value='12')
    i.like-button__item-checkmark
    span.like-button__item-number

  p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
