.comment
  img.comment__img(src='img/photo-user.jpg' alt='user photo')
  span.comment__name Мурад Сарафанов
  span.comment__date 5 дней назад
  
  label.like-button__item
    input#likeButton2.like-button__item-radio(type='checkbox' checked='checked' data-like-checked='true' value='12')
    i.like-button__item-checkmark
    span.like-button__item-number 12

  p.comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
