.input__wrap.input__wrap.mt75
  span.input__title.input__title_05 dropdown
  span.input__descr expanded
  input#dropdownCategory2.input.input_dropdown-room.expanded(data='openDropdownList' data-for-backend="" placeholder='Сколько гостей')
  i.input__dropdown-ico
  ul.input__dropdown-list
    li.input__dropdown-item 
      span.input__dropdown-item-title взрослые
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="взрослые" value='0' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;
    li.input__dropdown-item 
      span.input__dropdown-item-title дети
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="дети" value='0' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;
    li.input__dropdown-item 
      span.input__dropdown-item-title младенцы
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="младенцы" value='1' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;
    li.input__dropdown-item.input__dropdown-item-accept 
      button.input__dropdown-item-btn-clean.active(data='cleanListBtn') очистить
      .input__dropdown-item-btns
        button.input__dropdown-item-btn-accept(data='acceptListBtn') применить
