.input__wrap.mt20
  span.input__title.input__title_50 dropdown
  span.input__descr default
  select.dropdown-select(date-dropwdown-select)
    option(value='0') Сколько гостей
    option(value='1') one
    option(value='2') two
    option(value='3') three