.input__wrap.input__wrap_075.mt20
  span.input__title.input__title_50 dropdown
  span.input__descr expanded
  input#dropdown1.dropdown-75(data='dropdownList' data-for-backend="" placeholder='Условия проживания')
  i.dropdown-75__ico
  ul.dropdown-75__list
    li.dropdown-75__item 
      span.dropdown-75__item-title спальни
      .dropdown-75__item-btns
        button.dropdown-75__item-btn.less(data='numberValueLess') &#x2212;
        input.dropdown-75__item-number(disabled='disabled' data-name="спальни" value='0' data='numberValue')
        button.dropdown-75__item-btn.more(data='numberValueMore') &#x2b;
    li.dropdown-75__item 
      span.dropdown-75__item-title кровати
      .dropdown-75__item-btns
        button.dropdown-75__item-btn.less(data='numberValueLess') &#x2212;
        input.dropdown-75__item-number(disabled='disabled' data-name="кровати" value='0' data='numberValue')
        button.dropdown-75__item-btn.more(data='numberValueMore') &#x2b;
    li.dropdown-75__item 
      span.dropdown-75__item-title ванные комнаты
      .dropdown-75__item-btns
        button.dropdown-75__item-btn.less(data='numberValueLess') &#x2212;
        input.dropdown-75__item-number(disabled='disabled' data-name="ванные комнаты" value='0' data='numberValue')
        button.dropdown-75__item-btn.more(data='numberValueMore') &#x2b;