.input__wrap.input__wrap_075.mt20
  span.input__title.input__title_05 dropdown
  span.input__descr expanded
  input#dropdown1.input.input_dropdown-room(data='openDropdownList' data-for-backend="" placeholder='')
  i.input__dropdown-ico
  ul.input__dropdown-list
    li.input__dropdown-item 
      span.input__dropdown-item-title спальни
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="спальни" value='0' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;
    li.input__dropdown-item 
      span.input__dropdown-item-title кровати
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="кровати" value='0' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;
    li.input__dropdown-item 
      span.input__dropdown-item-title ванные комнаты
      .input__dropdown-item-btns
        button.input__dropdown-item-btn.less(data='numberValueLess') &#x2212;
        input.input__dropdown-item-number(disabled='disabled' data-name="ванные комнаты" value='0' data='numberValue')
        button.input__dropdown-item-btn.more(data='numberValueMore') &#x2b;