.like-button.mt35
  b.like-button__title like
  label.like-button__item.mr10
    input.like-button__item-radio(type='checkbox')
    i.like-button__item-checkmark
    span.like-button__item-number 2

  label.like-button__item
    input.like-button__item-radio(type='checkbox' checked='checked')
    i.like-button__item-checkmark
    span.like-button__item-number 12