.radio-buttons.mt20
  b.radio-buttons__title Radio Buttons
  label.radio-buttons__item
    input.radio-buttons__item-radio(type='radio' name='gender')
    span.radio-buttons__item-checkmark
    span.radio-buttons__item-name Мужчина

  label.radio-buttons__item
    input.radio-buttons__item-radio(type='radio' name='gender')
    span.radio-buttons__item-checkmark
    span.radio-buttons__item-name Женщина