.range-slider#rangeSliderWrap1.mt55
  .range-slider__title Range Slider
  label.range-slider__descr(for='rangeSliderInput1') 
    span.range-slider__descr-min 5 000
    span ₽ - 
    span.range-slider__descr-max  10 000
    span ₽
  input.range-slider__input#rangeSlider1(type='text' data='input-range' readonly value)
  .range-slider__interface.mt30#rangeSliderInterface1