.rate-button.mt35
  b.rate-button__title rate button
  .rate-button__box.mr10#rateButton1(data-rate-value='')
    button.rate-button__item(data-rate-number='5')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='4')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='3')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='2')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='1')
      i.rate-button__item-ico

  .rate-button__box#rateButton2(data-rate-value='4')
    button.rate-button__item(data-rate-number='5')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='4')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='3')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='2')
      i.rate-button__item-ico
    button.rate-button__item(data-rate-number='1')
      i.rate-button__item-ico