.input__wrap.mt20
  span.input__title.input__title_50 text field
  span.input__descr default
  input.text-field(type='text' placeholder='Email')


.input__wrap.mt20
  span.input__title.input__title_50 text field
  span.input__descr hover / focus / active
  input.text-field.input_text-field_active(type='text' placeholder='This is pretty awesome')