.toggle.mt35
  b.toggle__title Toggle
  label.toggle__item
    input.toggle__item-radio(type='checkbox')
    i.toggle__item-checkmark
    span.toggle__item-name Получать спецпредложения

  label.toggle__item.mt15
    input.toggle__item-radio(type='checkbox' checked)
    i.toggle__item-checkmark
    span.toggle__item-name Получать спецпредложения