.calendar {
    max-width: 320px;
    padding: 20px;
    &__btns {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        color: rgba(31,32,65,.5);
        background-color: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        &-clean {
            font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: rgba(31,32,65,.5);
        cursor: pointer;
            padding: 10px 0;
        }
        &-accept {
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: $color-accent;
                padding: 10px 0;
        }
    }
    .ui-datepicker {
        border: none;
        padding: 0;
        width: 100%;
        table {
            width: calc(100% - 20px);
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            font-size: .9em;
            border-collapse: collapse;
        }
    }
    .ui-datepicker-calendar {
        margin-top: 20px;
        thead {
            height: 40px;
        }
        tbody {
            width: 280px;
        }
        tr {
            height: 40px;
            display: flex;
            th {
                width: 40px;
                padding: 0;
                height: 40px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
        }
        th span {
            color: $color-accent;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        td {
            width: 40px;
            height: 40px;
            padding: 0;
            a {
                padding: 0;
                height: inherit;
                width: inherit;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color-grey-05;
            }
        }
        .ui-state-default {
            background-color: unset;
            border: none;
            &:hover {
                color: white;
                display: inline-flex;
                width: 40px;
                height: 40px;
                border-radius: 22px;
                border: none;
                font-style: normal;
                font-weight: 700;
                line-height: 15px;
                // display: inline-block;
                background-color: transparent;
                cursor: pointer;
                font-weight: normal;
                background: $gradient-secondary;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .ui-state-active,
        .ui-state-default.ui-state-active {
            width: 40px;
            height: 40px;
            border-radius: 22px;
            border: none;
            font-style: normal;
            font-weight: 700;
            line-height: 15px;
            display: inline-block;
            background-color: transparent;
            cursor: pointer;
            color: white;
            display: inline-flex;
            font-weight: normal;
            color: $white;
            background: $gradient-accent;
            font-weight: 700;
            font-size: 12px;
            font-weight: bold;
        }
    }
    .ui-widget-header {
        border: unset;
        background-color: unset;
    }
    .ui-datepicker-header {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // width: calc(100% - 20px);
    }
    .ui-datepicker-prev,
    .ui-datepicker-next {
        display: inline-flex;
        align-items: center;
        top: 0;
    }
    .ui-datepicker-prev {
        left: 0;
    }
    .ui-datepicker-next {
        right: 0;
    }
    .ui-datepicker-prev::before {
        display: inline-block;
        content: '\e800';
        color: $color-accent;
        font-size: 18px;
        transform: rotate(180deg);
    }
    .ui-datepicker-next::before {
        display: inline-block;
        content: '\e800';
        color: $color-accent;
        font-size: 18px;
        position: absolute;
        right: 0;
    }
    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover {
        cursor: pointer;
        background-color: transparent;
        border: unset;
    }
    .ui-datepicker-title {
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
    }
}