.cards {
  padding: 40px 30px 30px 30px;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__wrap {
    align-content: flex-start;
    max-height: 1130px;
  }
  &__input_05 {
    @media (max-width: 449.98px) {
      max-width: 100%;
      width: 100%;
    }
  }
}

@import '_find-number.scss';
@import '_registration-account.scss';
@import '_room-number.scss';