.registration-account {
  // display: flex;
  // flex-direction: column;
  // max-width: 380px;
  min-height: 646px;
  // width: 100%;
  height: auto;
  &__title {
    // font-family: $ff2;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
  }
  &__login-text {
    // font-family: $ff2;
    width: 14em;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    display: inline-flex;
  }
  &__enter {
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
  }
}