.checkbox-list#checkboxList2.mt40(data-expanded)
  .checkbox-list__face(data-toggle)
    span.checkbox-list__title.checkbox-list__title_075 expandable checkbox list
    button.checkbox-list__dropdown-btn
      i.checkbox-list__dropdown-ico
  .checkbox-list__wrap
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Завтрак
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Письменный стол
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Стул для кормления
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Кроватка
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Телевизор
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Шампунь
    .checkbox-list__item
      label.checkbox-list__item-label 
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Телевизор
    .checkbox-list__item
      label.checkbox-list__item-label
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
        span.checkbox-list__item-title Шампунь