.checkbox-list#checkboxList2.mt40(data-expanded)
  .checkbox-list__face(data-toggle)
    span.checkbox-list__title.checkbox-list__title_075 expandable checkbox list
    button.checkbox-list__dropdown-btn
      i.checkbox-list__dropdown-ico
  .checkbox-list__wrap
    .checkbox-list__item
      label.checkbox-list__item-label Завтрак
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Письменный стол
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Стул для кормления
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Кроватка
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Телевизор
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Шампунь
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Телевизор
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark
    .checkbox-list__item
      label.checkbox-list__item-label Шампунь
        input.checkbox-list__item-input(type='checkbox')
        span.checkbox-list__item-checkmark