.logo {
  background-image: url(../../img/icons/logo.svg);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

