body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: auto;
}

.colors-types {
  &__logo {
    margin: 30px;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}

.interface {

  &__logo {
    margin: 30px;
  }

  &__wrap {
      margin-top: 35px;
      margin-left: 140px;
  }

  &__input-wrap_05 {
    margin-right: 14px;
  }


}