body {
  margin-bottom: 20em;
}

button,
input {
  outline: transparent;
  outline: none;
}

.icon-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  &:before {
    font-size: 30px;    
    display: inline-block;
    color: $color-grey;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: auto;
}