$white: #fff;
$black: #1F2041;
$color-accent: #BC9CFF;
$color-grey: rgba(31, 32, 65, 0.25);
$color-grey-05: rgba(31, 32, 65, 0.5);
$color-grey-075: rgba(31, 32, 65, 0.75);
$gradient-accent: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-accent-v: linear-gradient(-180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$ff1: Quicksand;
$ff2: Montserrat;