doctype html
include pug/_head.pug


.container

  article.cards

    i.icon-logo.cards__logo

    .cards__wrap

      include pug/cards/_find-number.pug


    include pug/ui-kit/_bottom-navigate.pug


link(rel='stylesheet' href='/css/vendor/footer.min.css')
link(rel='stylesheet' href='/css/footer.min.css')

script(src='/js/vendor/footer.min.js')
script(src='/js/footer.min.js')