doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  style.
    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap&subset=cyrillic');
  link(rel='stylesheet' href='scss/header/index.scss')
  title FSD frontend education program
.container
  article.colors-types
    i.logo.colors-types__logo
    .colors-types__container
      section.palitra
        .palitra-item
          .palitra-item__box.color_dark-shade_100
          .palitra-item__text Dark Shade 100%
          .palitra-item__subtext #1F2041
        .palitra-item
          .palitra-item__box.color_dark-shade_75
          .palitra-item__text Dark Shade 75%
          .palitra-item__subtext #1F2041
        .palitra-item
          .palitra-item__box.color_dark-shade_50
          .palitra-item__text Dark Shade 50%
          .palitra-item__subtext #1F2041
        .palitra-item
          .palitra-item__box.color_dark-shade_25
          .palitra-item__text Dark Shade 25%
          .palitra-item__subtext #1F2041
        .palitra-item
          .palitra-item__box.color_dark-shade_5
          .palitra-item__text Dark Shade 5%
          .palitra-item__subtext #1F2041
        .palitra-item
          .palitra-item__box.color_purple
          .palitra-item__text Purple
          .palitra-item__subtext #BC9CFF
        .palitra-item
          .palitra-item__box.color_green
          .palitra-item__text Green
          .palitra-item__subtext #6FCF97
      section.marks
        .mark-item
          .mark-item__name.mark-item__name_h1 H1
          h1.mark-item__example.mark-h1 This one is the sub-section or widget title
        .mark-item
          .mark-item__name.mark-item__name_h2 H2
          h2.mark-item__example.mark-h2 Next one is the item title inside widgets
        .mark-item
          .mark-item__name.mark-item__name_h3 H3
          h3.mark-item__example.mark-h3 This is a label or CTA text
        .mark-item
          .mark-item__name.mark-item__name_body Body
          p.mark-item__example.mark-body.
            This is the body text which is used for most of the design, like paragraphs, lists, etc.
nav.navigate
  ul
    li
      a(href='index.pug') 1
    li
      a(href='page2.pug') 2
link(rel='stylesheet' href='./scss/footer/index.scss')
link(rel='stylesheet' href='./scss/palitra/index.scss')
link(rel='stylesheet' href='./scss/text/index.scss')
script(src='./js/footer.js')
