<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    style.
      @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=cyrillic');
      @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap&subset=cyrillic');
    link(rel='stylesheet' href='/css/header.min.css')
    title FSD frontend education program
  body
  
    .container
    
      article.interface
      
        i.icon-logo.interface__logo
        
        .interface__wrap
        
          include pug/components/_text-field.pug


          include pug/components/_dropdown-select.pug


          include pug/components/_text-field-masked.pug


          include pug/components/_dropdown-date.pug


          include pug/components/_dropdown-date-filter.pug


          .input__wrap.input__wrap_075.mt20
            span.input__title subscription text field
            input.input.input_subscription(type='text' placeholder='Email')
            button.input_subscription-btn(type='submit') 
              i.input__subscription-ico
              
          
          include pug/components/_dropdown-75.pug


          include pug/components/_dropdown-75_opened.pug

          
          include pug/components/_checkbox-list.pug


          include pug/components/_checkbox-list_opened.pug


          include pug/components/_plus_comfort.pug


          include pug/components/_plus_window.pug


          include pug/components/_checkbox-buttons.pug


          include pug/components/_radio-buttons.pug


          include pug/components/_toggle.pug


          include pug/components/_like-button.pug


          include pug/components/_rate-button.pug

          
          include pug/components/_dropdown-100-expanded.pug


          include pug/components/_checkbox-buttons-rich.pug


          include pug/components/_range-slider.pug


          include pug/components/_button.pug


          include pug/components/_pagination.pug


          include pug/components/_dropdown-100-expanded-selected.pug


          include pug/components/_bullet-list.pug

          
        include pug/components/_comment.pug






        include pug/ui-kit/_bottom-navigate.pug


    link(rel='stylesheet' href='/css/vendor/header.min.css')
    link(rel='stylesheet' href='/css/vendor/footer.min.css')
    link(rel='stylesheet' href='/css/footer.min.css')

    script(src='/js/vendor/footer.min.js')
    script(src='/js/footer.min.js')