doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  style.
    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap&subset=cyrillic');
  //- link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css')
  link(rel='stylesheet' href='/css/header.min.css')
  title FSD frontend education program
.container
  article.interface
    i.logo.interface__logo
    .interface__wrap
      .input__wrap
        span.input__title text field
        span.input__descr default
        input.input.input__text-field(type='text' placeholder='Email')
      .input__wrap
        span.input__title text field
        span.input__descr hover / focus / active
        input.input.input__text-field.input__text-field_active(type='text' placeholder='This is pretty awesome')
      .input__wrap
        span.input__title dropdown
        span.input__descr default
        select.input.input__dropdown
          option(value='1') Сколько гостей
          option(value='one') one
          option(value='two') two
          option(value='three') three
      .input__wrap
        span.input__title masked text field
        span.input__descr default
        input.input.input__masked(type='text' placeholder='ДД.ММ.ГГГГ')
      .input__wrap.input__wrap-half
        span.input__title.input__title-100 date dropdown
        select.input.input__date-dropdown
          option(value='test') ДД.ММ.ГГГГ
          option(value='one') one
          option(value='two') two
          option(value='three') three
nav.navigate
  ul
    li
      a(href='index.html') 1
    li
      a(href='page2.html') 2

link(rel='stylesheet' href='/css/footer.min.css')

script(src='/js/vendor/footer.min.js')
script(src='/js/footer.min.js')