doctype html


head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  style.
    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap&subset=cyrillic');
  link(rel='stylesheet' href='/css/header.min.css')
  title FSD frontend education program


.container

  article.interface

    i.logo.interface__logo

    .interface__wrap

      .input__wrap.mt20
        span.input__title.input__title_05 text field
        span.input__descr default
        input.input.input_text-field(type='text' placeholder='Email')


      .input__wrap.mt20
        span.input__title.input__title_05 text field
        span.input__descr hover / focus / active
        input.input.input_text-field.input_text-field_active(type='text' placeholder='This is pretty awesome')


      .input__wrap.mt20
        span.input__title.input__title_05 dropdown
        span.input__descr default
        select.input.input_dropdown.jsSelect
          option(value='0') Сколько гостей
          option(value='1') one
          option(value='2') two
          option(value='3') three


      .input__wrap.mt20
        span.input__title.input__title_05 masked text field
        span.input__descr default
        input.input.input_text-field.jsMaskedDate(type='text' placeholder='ДД.ММ.ГГГГ')


      .input__wrap.input__wrap_05.mt20
        span.input__title.input__title_1 date dropdown
        input.input.input_dropdown.jsDateDropdown(placeholder='ДД.ММ.ГГГГ')
        i.input__dropdown-ico


      .input__wrap.input__wrap_05.mt20
        span.input__title.input__title_1 date dropdown
        input.input.input_dropdown.jsDateDropdown(placeholder='19.08.2019')
        i.input__dropdown-ico


      .input__wrap.input__wrap_075.mt20
        span.input__title.input__title_1 filter date dropdow
        input.input.input_dropdown(placeholder='19 авг - 23 авг')
        i.input__dropdown-ico


      .input__wrap.input__wrap_075.mt20
        span.input__title subscription text field
        input.input.input_subscription(type='text' placeholder='Email')
        button.input_subscription-btn(type='submit') 
          i.input__subscription-ico
          
      
      include pug/components/_dropdown-room.pug


      include pug/components/opened/_dropdown-room.pug

      
      include pug/components/_checkbox-list.pug


      include pug/components/opened/_checkbox-list.pug


      include pug/components/_plus_comfort.pug


      include pug/components/_plus_window.pug


      include pug/components/_checkbox-buttons.pug


      include pug/components/_radio-buttons.pug




    include pug/ui-kit/_bottom-navigate.pug


link(rel='stylesheet' href='/css/vendor/footer.min.css')
link(rel='stylesheet' href='/css/footer.min.css')

script(src='/js/vendor/footer.min.js')
script(src='/js/footer.min.js')