doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  style.
    @import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap&subset=cyrillic');
  link(rel='stylesheet' href='scss/header/header.scss')
  title FSD frontend education program
.container
  article.interface
    i.logo.interface__logo
    .inputs-wrapper
      .text-field__wrap
        span.text-field__title text field
        span.text-field__descr default
        input.text-field__input.text-field__input_default(type='text' placeholder='Email')
      .text-field__wrap
        span.text-field__title text field
        span.text-field__descr Hover / Focus
        input.text-field__input.text-field__input_hover(type='text' placeholder='This is pretty awesome')
      .text-field__wrap
        span.text-field__title Dropdown
        span.text-field__descr Default
        select.text-field__select.text-field__select_default
          option(value='1') Сколько гостей
          option(value='one') One
          option(value='two') Two
          option(value='three') Three
nav.navigate
  ul
    li
      a(href='index.pug') 1
    li
      a(href='page2.pug') 2
link(rel='stylesheet' href='./scss/footer/interface.scss')
script(src='./js/index.js')
