@import 'pages/_palitra-text.scss';
@import 'pages/_interface.scss';


@for $i from 0 through 75 {
  .mt#{$i*5} {
    margin-top: $i*5px;
  }
}
@for $i from 1 through 5 {
  .m#{$i} {
    margin: $i+em;
  }
}

.mr10 {
  margin-right: 10px;
}


.navigate  {
  ul {
    margin: 2em auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 70px;
    justify-content: space-between;
    li {
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        &:hover {
          font-weight: 900;
          text-decoration: underline;
        }
      }
    }
  }
}